<!DOCTYPE html>
<html lang="en"><head><title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        .w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
        .w3-third img:hover{opacity: 1}
    </style>
</head>

<footer class="w3-container w3-padding-32 w3-grey">
    <div class="w3-row-padding">
        <div class="w3-third">
            <h3>HOME</h3>
        </div>
    </div>
</footer>

<body class="w3-light-grey w3-content" style="max-width:1600px" data-new-gr-c-s-check-loaded="14.1062.0" data-gr-ext-installed="">
    <!-- Quiz section -->
    <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
        <div class="w3-content" style="max-width:600px">
            <h4 class="w3-center"><b>Quizes</b></h4>
            <img src="https://m.media-amazon.com/images/M/MV5BMGJlNWE3OTUtY2EyOS00YTBlLTllNjUtNjU2YjI1MDUxZGM0XkEyXkFqcGdeQXVyMTY4MjQ0NzU@._V1_.jpg" alt="Me" class="w3-image w3-padding-32" width="600" height="650">
            <h4><b>Check correct answer</b></h4>
                <div class="w3-section">
                    <a href="javascript:void(0)" id="first" class="w3-button w3-red w3-large w3-round w3-border link" >La Ruta del Nilo (2005)</a>
                </div>
                <div class="w3-section">
                    <a href="#" id="second" class="w3-button w3-red w3-large w3-round w3-border link" >Crank Yankers (2002)</a>
                <div class="w3-section">
                    <a href="#" id="third" type="submit" class="w3-button w3-green w3-large w3-round w3-border link" >Still of Antoinette Bower, Greg Morris (I) and Jeff Pomerantz in Mission: Impossible (1966)</a>
                </div>
                    <div class="w3-section">
                        <a href="#" id="final" type="submit" class="w3-button w3-red w3-large w3-round w3-border link" >Still of Frank Thiel in Anna Pihl (2006)</a>
                    </div>
        </div>
    </div>
</div>
</body>
</html>